<%= simple_form_for @profile do |f| %>
  <div class="card">
  <%= f.input :role, as: :hidden, input_html: {value: "Rower"}%>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :club %>
  <%= f.input :program %>
  <%= f.input :gender, collection: @genders, as: :select %>
  <%= f.input :weight_class, collection: @weight_classes, as: :select %>
  <%= f.input :birthday, as: :date, start_year: Date.today.year - 90, order: [:month, :day, :year], prompt: [month: "Month", day: "Day", year: "Year"] %>
  <%= f.input :age_group, collection: @age_groups, as: :select %>
  <%= f.button :submit, class: 'button'%>
  </div>
<% end %>
