<div class='title card'>Edit Profile</div>

<div class="container">
  <% if @profile.role == "Rower" %>
    <%= render partial: "rower_form" %>
  <% elsif @profile.role == "Coach" %>
    <%= render partial: "coach_form" %>
  <% end %>
</div>

<%= link_to 'Change Email/Password', edit_user_registration_path, class: 'button' %>
<div>
    <%= simple_form_for @profile, method: :delete do |f| %>
      <%= f.submit "Delete Profile", class: 'button', style: 'background-color: #c00'%>
    <% end %>
</div>
