<div class="container">

  <h3 class="section_title"><%= current_user.profile.role%> Profile</h3>

  <div class="card">
    <span class="spec"> User ID: <%= @profile.user_id %></span>
    <span class="spec"> Name: <%= @profile.first_name %> <%= @profile.last_name %></span>
    <span class="spec">Club: <%= @profile.club %></span>
    <span class="spec">Program: <%= @profile.program %></span>
    <span class="spec"> Gender: <%= @profile.gender %></span>
    <span class="spec"> Weight Class: <%= @profile.weight_class %></span>
    <span class="spec"> Birthday: <%= @profile.birthday.strftime("%B %e, %Y") %></span>
    <span class="spec"> Age Group: <%= @profile.age_group %></span>
    <
  </div>

  <div class="wide"><%= link_to "Profile Settings", edit_profile_path, class: 'button'%></div>
</div>
