<%= simple_form_for @workout do |f| %>
  <div class="card">
    <%= f.input :name, label: "Workout Name:" %>
    <%= f.input :description, label: "Description:" %>
    <%= f.input :intensity, label: "Type" collection: @workout_types, as: :select %>
  </div>
  <div class="wide">
    <%= f.button :submit, class: 'button' %>
  </div>
<% end %>
