<h3 class="section_title">
  All Workouts
</h3>

<div class="container">
  <!-- Partial here? Latest benchmark, charted -->
  <!-- Filtering options or search here? -->

  <% @workouts.each do |workout| %>
    <div class="workout_specs card">
      <h4><%= workout.name%></h4>
      <span class='spec'><em><%= workout.description %></em></span>
      <span class='spec'>Type: <%= workout.intensity %></span>
      <%= link_to "Stats & Scores", workout_path(workout.id), class: 'button stats_and_scores'%>
      <% if current_user.profile.role == 'Coach' %>
        <%= link_to "Edit This Workout", edit_workout_path(workout), class: 'button edit' %>
        <%= simple_form_for workout, method: :delete do |f| %>
          <%= f.submit "Delete Workout", class: "button", style: "background-color: #c00"%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_user.profile.role == 'Coach' %>
  <div class="wide">
    <%= link_to "Create a New Workout", new_workout_path, class: 'button new'%>
  </div>
<% end %>
