<div class="container">

  <div class='title card'>
  <%= @workout.name %><br><%= @workout.description %><br><%= @workout.intensity %><br><%= @workout.training_band %></div>

  <% @rowers.each do |rower| %>
    <div class="score_summary card">
      <% rower.scores.each do |score|%>
        <% if score.workout_id == @workout.id %>
        <span class="spec">Interval: <%= score.interval_number %></span>
        <span class="spec">Time: <%= score.minutes %>:<%= score.seconds %></span>
        <span class="spec">Distance: <%= score.distance %>m</span>
        <span class="spec">500m Split: <%= score.split %>/500m</span>
        <span class="spec">SPM: <%= score.spm %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class='wide'>
    <%= link_to "Submit A Score For This Workout", new_workout_score_path(@workout.id), class: 'button new' %>
  </div>
</div>

<div class='wide'>
<!-- Render coaches toolbar? -->
  <%= link_to "Edit This Workout", edit_workout_path, class: 'button edit' %>
  <%= simple_form_for @workout, method: :delete do |f| %>
    <%= f.submit "Delete This Workout", class: "button", style: "background-color: #c00"%>
  <% end %>
</div>
