<p>
  <%= @rower.name %>'s Dashboard
</p>

<button><%= link_to "Submit New Score", new_rower_score_path(@rower), style: "text-decoration: none" %></button>

<div>
<% @scores.each do |score| %>
  <p>Date: <%= score.created_at.strftime("%B %e, %Y") %></p>
  <p>Workout: <%= score.workout_id %></p>
  <p>Interval: <%= score.interval_number %></p>
  <p>Time: <%= score.minutes %>:<%= score.seconds %></p>
  <p>Distance: <%= score.distance %>m</p>
  <p>500m Split: <%= score.split %>/500m</p>
  <p>SPM: <%= score.spm %></p>
  <button><%= link_to "Edit Score", edit_score_path(score), style: "text-decoration: none" %></button>
  <button><%=link_to "See All Scores for this Workout", workout_path(score.workout_id)%></button>
  <% end %>
</div>
