<h3 class="section_title">
  <%= @profile.first_name %> <%= @profile.last_name %>'s Dashboard
</h3>
<div class="container">
  <!-- Partial here? Latest benchmark, charted -->
  <!-- Filtering options or search here? -->

<% @scores.each do |score| %>
  <div class="card">
    <span class="spec">Date: <%= score.created_at.strftime("%B %e, %Y") %></span>
    <span class="spec">Workout: <%= score.workout.name %></span>
    <span class="spec">Interval: <%= score.interval_number %></span>
    <span class="spec">Time: <%= score.minutes %>:<%= score.seconds %></span>
    <span class="spec">Distance: <%= score.distance %>m</span>
    <span class="spec">500m Split: <%= score.split %>/500m</span>
    <span class="spec">SPM: <%= score.spm %></span>
    <%= link_to "Edit Score", edit_score_path(score), class: 'button wide' %>
    <%=link_to "See All Scores for this Workout", workout_path(score.workout_id), class: 'button wide'%>
  </div>
<% end %>

<div class="wide"><%= link_to "Submit New Score", new_profile_score_path(@profile), class: 'button new' %></div>
