<div class="container" id="welcome">

  <div class="item">
    <figure class="effect-sarah">
      <%= image_tag 'womens_four.jpg' %>
      <figcaption>
        <h2>Submit a <span>New Score</span></h2>
        <%= link_to "View More", new_profile_score_path(current_user.profile.id) %>
      </figcaption>
    </figure>
  </div>

  <div class="item">
    <figure class="effect-sarah">
      <%= image_tag 'dawn_row.jpg' %>
      <figcaption>
        <h2>View Your <span>Dashboard</span></h2>
        <%= link_to "View More", profile_scores_path(current_user.profile.id) %>
      </figcaption>
    </figure>
  </div>

  <div class="item">
    <figure class="effect-sarah">
      <%= image_tag 'juniors.jpg' %>
      <figcaption>
        <h2>Browse <span>Workouts</span></h2>
        <%= link_to "View More", workouts_path %>
      </figcaption>
    </figure>
  </div>

</div>
