<%= simple_form_for @rower do |f| %>
  <%= f.input :name %>
  <%= f.input :gender, collection: @genders, as: :select %>
  <%= f.input :weight_class, collection: @weight_classes, as: :select %>
  <%= f.input :birthday, as: :date, start_year: Date.today.year - 90, order: [:month, :day, :year] %>
  <%= f.input :age_group, collection: @age_groups, as: :select %>
  <%= f.button :submit %>
<% end %>

<div>
    <%= simple_form_for @rower, method: :delete do |f| %>
      <%= f.submit "Delete Profile", class: "delete" %>
    <% end %>
</div>
