<!DOCTYPE html>
<!-- Your views look awesome! -->
<html>
  <head>
    <title>ErgScores</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <ul class="nav">
    	<li><strong><%= link_to "er.go", root_path %></strong></li>
    <% if user_signed_in? && current_user.profile != nil %>
      <li><%= link_to "Workouts", workouts_path %></li>
      <% if current_user.profile.role == 'Rower' %>
        <li><%= link_to "Dashboard", profile_scores_path(current_user.profile.id) %></li>
      <% elsif current_user.profile.role == 'Coach' %>
        <li><%= link_to "Roster", profiles_path %></li>
      <% end %>
      <li><%= link_to "Profile Settings", edit_profile_path(current_user.profile.id) %></li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    <% end %>
    </ul>

    <div class="spacer">
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="main">
          <%= yield %>
    </div>
  </body>
</html>
